Source: python3-caio
Maintainer: André Roth <neolynx@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), dh-python, python3-setuptools, python3-all, git-core, cython3, libpython3-dev, python3-pytest
Standards-Version: 3.9.7
Vcs-Browser: https://github.com/mosquito/caio

Package: python3-caio
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}
Description: Python wrapper for AIO
